@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  word-break: keep-all;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
}

body {
  position: relative;
  /* 일단 body 배경 블랙 설정 */
  background: black;
}

#visible {
  /* height: 260vh; --나중에 활성화해놓을 것 */
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0%;
  height: 130vh;
  width: 100%;
  border-radius: 0 0 200px 200px;
}

:root {
  /* 테마 컬러 설정 */
  --theme1-1: #f8f8f8;
  --theme1-2: #5f7a75;
  --theme1-3: #d2b6a0;
  --theme1-4: #a0a07d;
  --theme1-5: #333333;
  --theme2-1: #ffce32;
  --theme2-2: #1d63ff;
  --theme2-3: #fe3a4a;
  --theme3-1: #e9f1fa;
  --theme3-2: #00abe4;
  --theme3-3: #ffffff;
  --theme4-1: #ffffff;
  --theme4-2: #000000;
  --theme5-1: #ffb400;
  --theme5-2: #000000;
  /* 콘텐트 박스 크기 */
  --contentBox: 1480px;
  --innerContentBox: 1200px;
  /* svg 컬러 리스트 */
  --white: invert(100%) sepia(11%) saturate(7500%) hue-rotate(232deg)
    brightness(118%) contrast(116%);
  --black: invert(0%) sepia(87%) saturate(7465%) hue-rotate(191deg)
    brightness(97%) contrast(95%);
  --yellow: invert(80%) sepia(98%) saturate(3529%) hue-rotate(324deg)
    brightness(98%) contrast(106%);
}

/* 고정된 첫번째 섹션 */
#fixed {
  background: black;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 260vh;
  overflow: hidden;
  z-index: 10;
  /* header navigator */
}
#fixed .first_Page {
  height: 160vh;
}
#fixed .first_Page header {
  position: fixed;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  z-index: 30;
  gap: 60px;
}
#fixed .first_Page header .svg {
  width: 50px;
  height: 50px;
  filter: var(--white);
}
#fixed .first_Page header .navigator {
  flex-direction: column;
  gap: 20px 0;
  display: none;
}
#fixed .second_Page {
  position: relative;
  height: 100vh;
  z-index: 0;
}
#fixed .second_Page img {
  width: 700px;
  height: 700px;
  position: absolute;
  z-index: 15;
}
#fixed .second_Page img.shape1 {
  top: -10%;
  left: -5%;
}
#fixed .second_Page img.shape2 {
  top: -10%;
  right: -5%;
}
#fixed .second_Page img.shape3 {
  width: 1100px;
  height: 1100px;
  bottom: -40%;
  left: 50%;
  transform: translate(-50%);
}

/* 움직일 두번째 섹션. */
#movement {
  color: white;
  position: relative;
  /* top: -100vh; */
  left: 0%;
  z-index: 20;
  /* visual */
}
#movement .visual {
  width: 100%;
  height: 160vh;
  position: relative;
}
#movement .visual .visual_elements {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}
#movement .visual .visual_elements h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
  font-size: 200px;
  text-align: center;
  color: rgb(255, 255, 255);
  letter-spacing: -2px;
}
#movement .visual .visual_elements .colorThemes {
  width: 60%;
  margin: 0 auto;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}
#movement .visual .visual_elements .colorThemes .theme {
  transition: all 0.5s ease-in-out;
  width: 150px;
  height: 150px;
  position: relative;
}
#movement .visual .visual_elements .colorThemes .theme h2 {
  color: white;
  position: absolute;
  top: -25%;
}
#movement .visual .visual_elements .colorThemes .theme span {
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
}
#movement .visual .visual_elements .colorThemes .theme span.first {
  background: var(--theme1-1);
  left: 0%;
  top: 5%;
  z-index: 0;
}
#movement .visual .visual_elements .colorThemes .theme span.second {
  background: var(--theme1-2);
  right: 0%;
  top: 5%;
  z-index: 5;
}
#movement .visual .visual_elements .colorThemes .theme span.third {
  background: var(--theme1-3);
  left: 50%;
  bottom: 5%;
  transform: translate(-50%);
  z-index: 10;
}
#movement .visual .visual_elements .colorThemes .theme:first-child .third {
  bottom: 22%;
}
#movement .visual .visual_elements .colorThemes .theme:first-child .fourth {
  background: var(--theme1-4);
  left: 0%;
  bottom: 0%;
}
#movement .visual .visual_elements .colorThemes .theme:first-child .fifth {
  background: var(--theme1-5);
  right: 0%;
  bottom: 0%;
}
#movement .visual .visual_elements .colorThemes .theme:nth-child(2) .first {
  background: var(--theme2-1);
}
#movement .visual .visual_elements .colorThemes .theme:nth-child(2) .second {
  background: var(--theme2-2);
}
#movement .visual .visual_elements .colorThemes .theme:nth-child(2) .third {
  background: var(--theme2-3);
}
#movement .visual .visual_elements .colorThemes .theme:nth-child(3) .first {
  background: var(--theme3-1);
}
#movement .visual .visual_elements .colorThemes .theme:nth-child(3) .second {
  background: var(--theme3-2);
}
#movement .visual .visual_elements .colorThemes .theme:nth-child(3) .third {
  background: var(--theme3-3);
}
#movement .visual .visual_elements .colorThemes .theme:nth-child(4) span, #movement .visual .visual_elements .colorThemes .theme:last-child span {
  top: 50% !important;
  transform: translateY(-50%);
}
#movement .visual .visual_elements .colorThemes .theme:nth-child(4) .first {
  background: var(--theme4-2);
  border: 3px solid var(--theme4-1);
}
#movement .visual .visual_elements .colorThemes .theme:nth-child(4) .second {
  background: var(--theme4-1);
}
#movement .visual .visual_elements .colorThemes .theme:last-child .first {
  background: var(--theme4-2);
  border: 3px solid var(--theme4-1);
}
#movement .visual .visual_elements .colorThemes .theme:last-child .second {
  background: var(--theme5-1);
}
#movement .con1 {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 100px;
}
#movement .con1 .con1_pic {
  width: 550px;
  filter: var(--white);
}
#movement .con1 .con1_text {
  width: 30%;
}
#movement .con1 .con1_text .discover {
  font-size: 40px;
  margin-bottom: 0px;
  color: var(--theme2-2);
}
#movement .con1 .con1_text .con1_heading {
  font-size: 60px;
  margin-top: 0px;
}
#movement .con1 .con1_text .underline {
  display: block;
  width: 152px;
  height: 10px;
  background: var(--theme2-2);
}
#movement .con1 .con1_text p {
  font-size: 21px;
  margin: 50px 0;
}
#movement .con1 .con1_text h4 {
  font-size: 25px;
  margin-bottom: 30px;
}
#movement .con1 .con1_text .personal_info {
  width: 500px;
  display: flex;
  justify-content: space-between;
  gap: 0 30px;
}
#movement .con1 .con1_text .personal_info ul {
  margin-bottom: 35px;
}
#movement .con1 .con1_text .personal_info ul li {
  font-size: 18px;
  margin-bottom: 9px;
}
#movement .con1 .con1_text button {
  color: white;
  background: var(--theme2-3);
  width: 193px;
  height: 54px;
  border-radius: 38.5px;
  border: none;
  font-size: 16px;
}
#movement .con1 .con1_text .yel_text {
  color: var(--theme2-1);
}
#movement .con2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: var(--contentBox);
  height: 100vh;
}
#movement .con2 .con2_heading {
  font-size: 60px;
  font-weight: 900;
  line-height: 50px;
  display: flex;
}
#movement .con2 .con2_heading .upperline {
  display: block;
  width: 13.5px;
  height: 3px;
  background: white;
  transform: translateY(10px);
}
#movement .con2 .con2_heading .colored_heading {
  font-size: 40px;
  vertical-align: top;
  /* color: var(--theme5-2); */
}
#movement .con2 img {
  filter: var(--white);
}
#movement .con2 .con2_sub_heading {
  display: flex;
  align-items: center;
  position: relative;
  margin: 140px 0 120px 0;
}
#movement .con2 .con2_sub_heading .dev_lang_heading {
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
#movement .con2 .con2_sub_heading .dev_lang_heading.active {
  transform: translate(-20px);
  opacity: 0;
}
#movement .con2 .con2_sub_heading .design_heading {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 30px;
  transform: translate(-20px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
#movement .con2 .con2_sub_heading .design_heading.active {
  transform: translate(0px);
  opacity: 1;
}
#movement .con2 .con2_sub_heading .appear {
  cursor: pointer;
  z-index: 10;
}
#movement .con2 .con2_sub_heading .toright,
#movement .con2 .con2_sub_heading .toleft {
  width: 32px;
  height: 32px;
  filter: var(--yellow);
}
#movement .con2 .con2_sub_heading .toright {
  margin-left: 30px;
  transform: rotate(180deg);
}
#movement .con2 .con2_sub_heading .gear {
  width: 80px;
  margin: 0 20px 0 30px;
}
#movement .con2 .con2_sub_heading .con_dot {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--theme2-1);
  transform: translateY(-10px);
}
#movement .con2 .con2_sub_heading .dev {
  font-size: 40px;
  font-weight: 900;
  position: relative;
}
#movement .con2 .con2_sub_heading .dev::after {
  content: "DEV LANGUAGE";
  width: 520px;
  font-weight: 900;
  font-size: 45px;
  opacity: 10%;
  position: absolute;
  left: -20px;
  top: -10px;
}
#movement .con2 .con2_sub_heading .design {
  font-size: 40px;
  font-weight: 900;
  position: relative;
}
#movement .con2 .con2_sub_heading .design::after {
  content: "DESIGN TOOLS";
  width: 520px;
  font-weight: 900;
  font-size: 45px;
  opacity: 10%;
  position: absolute;
  left: -20px;
  top: -10px;
}
#movement .con2_main_lists {
  position: relative;
  height: 390px;
}
#movement .con2_main_lists .design_lists {
  opacity: 0;
  transform: translateX(-20px);
  z-index: -1;
  width: var(--contentBox);
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: all 0.3s ease-in-out;
}
#movement .con2_main_lists .design_lists > li {
  width: 260px;
  align-items: center;
  position: relative;
}
#movement .con2_main_lists .design_lists > li::before {
  content: "";
  display: block;
  width: 24px;
  height: 6px;
  background: var(--theme2-1);
  position: absolute;
  top: 30px;
  left: -42px;
}
#movement .con2_main_lists .design_lists > li img {
  width: 100px;
}
#movement .con2_main_lists .design_lists > li h3 {
  font-size: 30px;
  margin: 17px 0 14px;
}
#movement .con2_main_lists .design_lists > li .list_description {
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 8px 0;
}
#movement .con2_main_lists .design_lists > li .list_description li {
  position: relative;
  font-size: 18px;
  width: 217px;
}
#movement .con2_main_lists .design_lists > li .list_description li::before {
  content: url("../img/triangle.svg");
  transform: rotate(180deg);
  filter: var(--white);
  width: 13px;
  position: absolute;
  top: 2px;
  left: -20px;
}
#movement .con2_main_lists .design_lists > li:not(:first-child)::after {
  content: "";
  display: block;
  width: 178px;
  height: 6px;
  background: var(--theme2-1);
  position: absolute;
  top: 30px;
  right: 0;
}
#movement .con2_main_lists .design_lists > li:not(:first-child) img {
  width: 60px;
}
#movement .con2_main_lists .design_lists.active {
  opacity: 1;
  transform: translateX(0px);
  display: flex;
  z-index: 10;
}
#movement .con2_main_lists .design_lists .photoshop {
  width: 60px;
}
#movement .con2_main_lists .design_lists .figma {
  width: 38px !important;
  transform: translateX(15px);
}
#movement .con2_main_lists .design_lists .adobeXD {
  transform: translateX(2px);
}
#movement .con2_main_lists .design_lists > li:first-child::after {
  content: "";
  display: block;
  width: 178px;
  height: 6px;
  background: var(--theme2-1);
  position: absolute;
  top: 30px;
  right: 0;
}
#movement .con2_main_lists .dev_lang_lists {
  width: var(--contentBox);
  justify-content: space-between;
  position: absolute;
  transition: all 0.3s ease-in-out;
  display: flex;
  opacity: 1;
  transform: translateX(0px);
}
#movement .con2_main_lists .dev_lang_lists.active {
  opacity: 0;
  transform: translateX(-20px);
}
#movement .con2_main_lists .dev_lang_lists .nodejs {
  width: 55px !important;
  transform: translateX(5px);
}
#movement .con2_main_lists .dev_lang_lists .reactjs {
  width: 68px !important;
}
#movement .con2_main_lists .dev_lang_lists > li {
  width: 260px;
  align-items: center;
  position: relative;
}
#movement .con2_main_lists .dev_lang_lists > li::before {
  content: "";
  display: block;
  width: 24px;
  height: 6px;
  background: var(--theme2-1);
  position: absolute;
  top: 30px;
  left: -42px;
}
#movement .con2_main_lists .dev_lang_lists > li::after {
  content: "";
  display: block;
  width: 136px;
  height: 6px;
  background: var(--theme2-1);
  position: absolute;
  top: 30px;
  right: 0;
}
#movement .con2_main_lists .dev_lang_lists > li img {
  width: 100px;
}
#movement .con2_main_lists .dev_lang_lists > li h3 {
  font-size: 30px;
  margin: 17px 0 14px;
}
#movement .con2_main_lists .dev_lang_lists > li .list_description {
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 8px 0;
}
#movement .con2_main_lists .dev_lang_lists > li .list_description li {
  position: relative;
  font-size: 18px;
  width: 217px;
}
#movement .con2_main_lists .dev_lang_lists > li .list_description li::before {
  content: url("../img/triangle.svg");
  transform: rotate(180deg);
  filter: var(--white);
  width: 13px;
  position: absolute;
  top: 2px;
  left: -20px;
}
#movement .con2_main_lists .dev_lang_lists > li:not(:first-child)::after {
  content: "";
  display: block;
  width: 178px;
  height: 6px;
  background: var(--theme2-1);
  position: absolute;
  top: 30px;
  right: 0;
}
#movement .con2_main_lists .dev_lang_lists > li:not(:first-child) img {
  width: 60px;
}
#movement .con3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: var(--contentBox);
  height: 100vh;
}
#movement .con3 .con3_heading {
  font-size: 60px;
  font-weight: 900;
  line-height: 50px;
  display: flex;
  margin-bottom: 150px;
}
#movement .con3 .con3_heading .upperline {
  display: block;
  width: 13.5px;
  height: 3px;
  background: white;
  transform: translateY(10px);
}
#movement .con3 .con3_heading .colored_heading {
  font-size: 40px;
  vertical-align: top;
  /* color: var(--theme5-2); */
}
#movement .con3 .con3_lists {
  height: 500px;
  opacity: 1;
  transform: translateX(-20px);
  width: var(--contentBox);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 0 150px;
  transition: all 0.3s ease-in-out;
}
#movement .con3 .con3_lists.active {
  opacity: 1;
  transform: translateX(0px);
  display: flex;
  z-index: 10;
}
#movement .con3 .con3_lists > li {
  width: 380px;
  align-items: center;
  position: relative;
}
#movement .con3 .con3_lists > li::before {
  content: "";
  display: block;
  width: 35px;
  height: 6px;
  background: var(--theme2-3);
  position: absolute;
  top: 80px;
  left: -25px;
}
#movement .con3 .con3_lists > li::after {
  content: "";
  display: block;
  width: 250px;
  height: 6px;
  background: var(--theme2-3);
  position: absolute;
  top: 80px;
  right: -25px;
}
#movement .con3 .con3_lists > li h3 {
  font-size: 40px;
  margin-bottom: 0px;
  letter-spacing: 1px;
}
#movement .con3 .con3_lists > li .date {
  font-size: 16px;
}
#movement .con3 .con3_lists > li h4 {
  font-weight: normal;
  font-size: 22px;
  letter-spacing: 0.5px;
  margin: 14px 0 12px;
}
#movement .con3 .con3_lists > li img {
  width: 150px;
  filter: var(--white);
}
#movement .con3 .con3_lists > li .con3_description {
  font-size: 17px;
  font-weight: light;
  position: relative;
}
#movement .con3 .con3_lists > li .con3_description::before {
  content: url("../img/triangle.svg");
  transform: rotate(180deg);
  filter: var(--white);
  width: 12px;
  position: absolute;
  top: 2px;
  left: -20px;
}
#movement .con3 .con3_lists > li .stack {
  font-size: 18px;
  font-weight: bolder;
  margin: 30px 0 15px;
}
#movement .con3 .con3_lists > li ul li {
  display: inline;
  font-size: 17px;
  font-weight: lighter;
  padding: 3px 8px;
  border: 2px solid var(--theme1-1);
  border-radius: 10px;
}
#movement .con3 .con3_lists > li:not(:first-child) .img_wrap {
  width: 165px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#movement .con3 .con3_lists > li:not(:first-child) img {
  width: 80px;
}
#movement .con3 .con3_lists > li:not(:first-child) h2 {
  font-size: 50px;
  text-align: center;
  margin: 60px 0 0 0;
}
#movement .con4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: var(--contentBox);
  height: 100vh;
}
#movement .con4 .con4_heading {
  font-size: 60px;
  font-weight: 900;
  line-height: 50px;
  display: flex;
  margin-bottom: 80px;
}
#movement .con4 .con4_heading .upperline {
  display: block;
  width: 13.5px;
  height: 3px;
  background: white;
  transform: translateY(10px);
}
#movement .con4 .con4_heading .colored_heading {
  font-size: 40px;
  vertical-align: top;
  /* color: var(--theme5-2); */
}
#movement .con4 .con4_lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 45px;
}
#movement .con4 .con4_lists li {
  width: 22.5%;
  border-radius: 3px;
  background: #eee;
  color: #222;
}
#movement .con4 .con4_lists li .thumbnail {
  height: 150px;
  background: #00abe4;
  border-radius: 3px 3px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
#movement .con4 .con4_lists li .lists_texts {
  padding: 30px;
}
#movement .con4 .con4_lists li .lists_texts h3 {
  font-size: 25px;
  margin-bottom: 20px;
}
#movement .con4 .con4_lists li .lists_texts p {
  font-size: 15px;
}
#movement .con4 button {
  margin: 60px auto 0;
  width: 220px;
  padding: 14px 0;
  border-radius: 50px;
  background: #c9a9a9;
  color: white;
  font-size: 25px;
  font-weight: bolder;
  border: none;
  cursor: pointer;
}
#movement footer {
  height: 40vh;
}