* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222;
}

body {
  position: relative;
}

canvas {
  position: absolute;
  top: 0%;
  height: 130vh;
  width: 100%;
  border-radius: 0 0 200px 200px;
}

:root {
  --theme1-1: #f8f8f8;
  --theme1-2: #5f7a75;
  --theme1-3: #d2b6a0;
  --theme1-4: #a0a07d;
  --theme1-5: #333333;
  --theme2-1: #ffce32;
  --theme2-2: #1d63ff;
  --theme2-3: #fe3a4a;
  --theme3-1: #e9f1fa;
  --theme3-2: #00abe4;
  --theme3-3: #ffffff;
  --theme4-1: #ffffff;
  --theme4-2: #000000;
  --theme5-1: #ffb400;
  --theme5-2: #000000;
}

#fixed {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 260vh;
  overflow: hidden;
}
#fixed .first_Page {
  height: 160vh;
}
#fixed .first_Page header {
  position: fixed;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  z-index: 10;
  gap: 60px;
}
#fixed .first_Page header .svg {
  width: 50px;
  height: 50px;
  filter: invert(74%) sepia(67%) saturate(1725%) hue-rotate(359deg) brightness(103%) contrast(101%);
}
#fixed .first_Page header .navigator {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
#fixed .second_Page {
  position: relative;
  height: 100vh;
}
#fixed .second_Page img {
  width: 700px;
  height: 700px;
  position: absolute;
}
#fixed .second_Page img.shape1 {
  top: -10%;
  left: -5%;
}
#fixed .second_Page img.shape2 {
  top: -10%;
  right: -5%;
}
#fixed .second_Page img.shape3 {
  width: 900px;
  height: 900px;
  bottom: -35%;
  left: 50%;
  transform: translate(-50%);
}

#movement {
  position: relative;
  top: 0%;
  left: 0%;
}
#movement #visual {
  width: 100%;
  height: 160vh;
  position: relative;
}
#movement #visual .visual_elements {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
#movement #visual .visual_elements h1 {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
  font-size: 200px;
  text-align: center;
  color: rgb(255, 255, 255);
  letter-spacing: -2px;
}
#movement #visual .visual_elements .colorThemes {
  width: 60%;
  margin: 0 auto;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}
#movement #visual .visual_elements .colorThemes .theme {
  transition: all 0.5s ease-in-out;
  width: 150px;
  height: 150px;
  position: relative;
}
#movement #visual .visual_elements .colorThemes .theme h2 {
  color: white;
  position: absolute;
  top: -25%;
}
#movement #visual .visual_elements .colorThemes .theme span {
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
}
#movement #visual .visual_elements .colorThemes .theme span.first {
  background: var(--theme1-1);
  left: 0%;
  top: 5%;
  z-index: 0;
}
#movement #visual .visual_elements .colorThemes .theme span.second {
  background: var(--theme1-2);
  right: 0%;
  top: 5%;
  z-index: 5;
}
#movement #visual .visual_elements .colorThemes .theme span.third {
  background: var(--theme1-3);
  left: 50%;
  bottom: 5%;
  transform: translate(-50%);
  z-index: 10;
}
#movement #visual .visual_elements .colorThemes .theme:first-child .third {
  bottom: 22%;
}
#movement #visual .visual_elements .colorThemes .theme:first-child .fourth {
  background: var(--theme1-4);
  left: 0%;
  bottom: 0%;
}
#movement #visual .visual_elements .colorThemes .theme:first-child .fifth {
  background: var(--theme1-5);
  right: 0%;
  bottom: 0%;
}
#movement #visual .visual_elements .colorThemes .theme:nth-child(2) .first {
  background: var(--theme2-1);
}
#movement #visual .visual_elements .colorThemes .theme:nth-child(2) .second {
  background: var(--theme2-2);
}
#movement #visual .visual_elements .colorThemes .theme:nth-child(2) .third {
  background: var(--theme2-3);
}
#movement #visual .visual_elements .colorThemes .theme:nth-child(3) .first {
  background: var(--theme3-1);
}
#movement #visual .visual_elements .colorThemes .theme:nth-child(3) .second {
  background: var(--theme3-2);
}
#movement #visual .visual_elements .colorThemes .theme:nth-child(3) .third {
  background: var(--theme3-3);
}
#movement #visual .visual_elements .colorThemes .theme:nth-child(4) span, #movement #visual .visual_elements .colorThemes .theme:last-child span {
  top: 50% !important;
  transform: translateY(-50%);
}
#movement #visual .visual_elements .colorThemes .theme:nth-child(4) .first {
  background: var(--theme4-2);
  border: 3px solid var(--theme4-1);
}
#movement #visual .visual_elements .colorThemes .theme:nth-child(4) .second {
  background: var(--theme4-1);
}
#movement #visual .visual_elements .colorThemes .theme:last-child .first {
  background: var(--theme4-2);
  border: 3px solid var(--theme4-1);
}
#movement #visual .visual_elements .colorThemes .theme:last-child .second {
  background: var(--theme5-1);
}
#movement .con1 .con1_pic {
  width: 300px;
  filter: invert(60%) sepia(44%) saturate(1217%) hue-rotate(325deg) brightness(101%) contrast(101%);
}