* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  word-break: keep-all;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #222;
}
body {
  position: relative;
  /* 일단 body 배경 블랙 설정 */
  background: black;
}
#visible {
  /* height: 260vh; $나중에 활성화해놓을 것 */
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0%;
  height: 130vh;
  width: 100%;
  border-radius: 0 0 200px 200px;
}
/* 테마 컬러 설정 */
$theme1-1: #f8f8f8;
$theme1-2: #5f7a75;
$theme1-3: #d2b6a0;
$theme1-4: #a0a07d;
$theme1-5: #333333;

$theme2-1: #ffce32;
$theme2-2: #1d63ff;
$theme2-3: #fe3a4a;

$theme3-1: #e9f1fa;
$theme3-2: #00abe4;
$theme3-3: #ffffff;

$theme4-1: #ffffff;
$theme4-2: #000000;

$theme5-1: #ffb400;
$theme5-2: #000000;

/* 콘텐트 박스 크기 */
$contentBox: 1480px;
$innerContentBox: 1200px;

/* svg 컬러 리스트 */
$white: invert(100%) sepia(11%) saturate(7500%) hue-rotate(232deg)
  brightness(118%) contrast(116%);
$black: invert(0%) sepia(87%) saturate(7465%) hue-rotate(191deg) brightness(97%)
  contrast(95%);
$yellow: invert(80%) sepia(98%) saturate(3529%) hue-rotate(324deg)
  brightness(98%) contrast(106%);

/* 고정된 첫번째 섹션 */
#fixed {
  background: black;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 260vh;
  overflow: hidden;
  z-index: 10;
  /* header navigator */
  .first_Page {
    height: 160vh;
    header {
      position: fixed;
      top: 50%;
      right: 50px;
      transform: translateY(-50%);
      z-index: 30;
      gap: 60px;
      .svg {
        width: 50px;
        height: 50px;
        filter: $white;
      }
      .navigator {
        flex-direction: column;
        gap: 20px 0;
        display: none;
      }
    }
  }
  .second_Page {
    position: relative;
    height: 100vh;
    z-index: 0;
    img {
      width: 700px;
      height: 700px;
      position: absolute;
      z-index: 15;
      &.shape1 {
        top: -10%;
        left: -5%;
      }
      &.shape2 {
        top: -10%;
        right: -5%;
      }
      &.shape3 {
        width: 1100px;
        height: 1100px;
        bottom: -40%;
        left: 50%;
        transform: translate(-50%);
      }
    }
  }
}

/* 움직일 두번째 섹션. */
#movement {
  color: white;
  position: relative;
  /* top: -100vh; */
  left: 0%;
  z-index: 20;

  /* visual */
  .visual {
    width: 100%;
    height: 160vh;
    position: relative;
    .visual_elements {
      position: relative;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 20;
      h1 {
        font-family: "Noto Sans KR", sans-serif;
        font-weight: 900;
        font-size: 200px;
        text-align: center;
        color: rgb(255, 255, 255);
        letter-spacing: -2px;
      }
      .colorThemes {
        width: 60%;
        margin: 0 auto;
        margin-top: 150px;
        display: flex;
        justify-content: space-between;
        .theme {
          transition: all 0.5s ease-in-out;
          width: 150px;
          height: 150px;
          position: relative;
          &:hover {
            transform: translateY(-30px);
          }
          h2 {
            color: white;
            position: absolute;
            top: -25%;
          }
          span {
            position: absolute;
            display: block;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            cursor: pointer;
            &.first {
              background: $theme1-1;
              left: 0%;
              top: 5%;
              z-index: 0;
            }
            &.second {
              background: $theme1-2;
              right: 0%;
              top: 5%;
              z-index: 5;
            }
            &.third {
              background: $theme1-3;
              left: 50%;
              bottom: 5%;
              transform: translate(-50%);
              z-index: 10;
            }
          }
          &:first-child {
            .third {
              bottom: 22%;
            }
            .fourth {
              background: $theme1-4;
              left: 0%;
              bottom: 0%;
            }
            .fifth {
              background: $theme1-5;
              right: 0%;
              bottom: 0%;
            }
          }
          &:nth-child(2) {
            .first {
              background: $theme2-1;
            }
            .second {
              background: $theme2-2;
            }
            .third {
              background: $theme2-3;
            }
          }
          &:nth-child(3) {
            .first {
              background: $theme3-1;
            }
            .second {
              background: $theme3-2;
            }
            .third {
              background: $theme3-3;
            }
          }
          &:nth-child(4),
          &:last-child {
            span {
              top: 50% !important;
              transform: translateY(-50%);
            }
          }
          &:nth-child(4) {
            .first {
              background: $theme4-2;
              border: 3px solid $theme4-1;
            }
            .second {
              background: $theme4-1;
            }
          }
          &:last-child {
            .first {
              background: $theme4-2;
              border: 3px solid $theme4-1;
            }
            .second {
              background: $theme5-1;
            }
          }
        }
      }
    }
  }
  .con1 {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 100px;
    .con1_pic {
      width: 550px;
      filter: $white;
    }
    .con1_text {
      width: 30%;
      .discover {
        font-size: 40px;
        margin-bottom: 0px;
        color: $theme2-2;
      }
      .con1_heading {
        font-size: 60px;
        margin-top: 0px;
      }
      .underline {
        display: block;
        width: 152px;
        height: 10px;
        background: $theme2-2;
      }
      p {
        font-size: 21px;
        margin: 50px 0;
      }
      h4 {
        font-size: 25px;
        margin-bottom: 30px;
      }
      .personal_info {
        width: 500px;
        display: flex;
        justify-content: space-between;
        gap: 0 30px;
        ul {
          margin-bottom: 35px;
          li {
            font-size: 18px;
            margin-bottom: 9px;
          }
        }
      }
      button {
        color: white;
        background: $theme2-3;
        width: 193px;
        height: 54px;
        border-radius: 38.5px;
        border: none;
        font-size: 16px;
      }
      .yel_text {
        color: $theme2-1;
      }
    }
  }
  .con2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: $contentBox;
    height: 100vh;
    .con2_heading {
      font-size: 60px;
      font-weight: 900;
      line-height: 50px;
      display: flex;
      .upperline {
        display: block;
        width: 13.5px;
        height: 3px;
        background: white;
        transform: translateY(10px);
      }
      .colored_heading {
        font-size: 40px;
        vertical-align: top;
        /* color: $theme5-2; */
      }
    }
    img {
      filter: $white;
    }
    .con2_sub_heading {
      display: flex;
      align-items: center;
      position: relative;
      margin: 140px 0 120px 0;
      .dev_lang_heading {
        display: flex;
        align-items: center;
        transition: all 0.3s ease-in-out;
        &.active {
          transform: translate(-20px);
          opacity: 0;
        }
      }
      .design_heading {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 30px;
        transform: translate(-20px);
        opacity: 0;
        transition: all 0.3s ease-in-out;
        &.active {
          transform: translate(0px);
          opacity: 1;
        }
      }
      .appear {
        cursor: pointer;
        z-index: 10;
      }
      .toright,
      .toleft {
        width: 32px;
        height: 32px;
        filter: $yellow;
      }
      .toright {
        margin-left: 30px;
        transform: rotate(180deg);
      }
      .gear {
        width: 80px;
        margin: 0 20px 0 30px;
      }
      .con_dot {
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: $theme2-1;
        transform: translateY(-10px);
      }
      .dev {
        font-size: 40px;
        font-weight: 900;
        position: relative;
        &::after {
          content: "DEV LANGUAGE";
          width: 520px;
          font-weight: 900;
          font-size: 45px;
          opacity: 0.1;
          position: absolute;
          left: -20px;
          top: -10px;
        }
      }
      .design {
        font-size: 40px;
        font-weight: 900;
        position: relative;
        &::after {
          content: "DESIGN TOOLS";
          width: 520px;
          font-weight: 900;
          font-size: 45px;
          opacity: 0.1;
          position: absolute;
          left: -20px;
          top: -10px;
        }
      }
    }
  }
  .con2_main_lists {
    position: relative;
    height: 390px;
    .design_lists {
      opacity: 0;
      transform: translateX(-20px);
      z-index: -1;
      width: $contentBox;
      display: flex;
      justify-content: space-between;
      position: relative;
      transition: all 0.3s ease-in-out;

      > li {
        width: 260px;
        align-items: center;
        position: relative;
        &::before {
          content: "";
          display: block;
          width: 24px;
          height: 6px;
          background: $theme2-1;
          position: absolute;
          top: 30px;
          left: -42px;
        }
        img {
          width: 100px;
        }
        h3 {
          font-size: 30px;
          margin: 17px 0 14px;
        }
        .list_description {
          height: 250px;
          display: flex;
          flex-direction: column;
          gap: 8px 0;
          li {
            position: relative;
            font-size: 18px;
            width: 217px;
            &::before {
              content: url("../img/triangle.svg");
              transform: rotate(180deg);
              filter: $white;
              width: 13px;
              position: absolute;
              top: 2px;
              left: -20px;
            }
          }
        }
      }
      > li:not(:first-child) {
        &::after {
          content: "";
          display: block;
          width: 178px;
          height: 6px;
          background: $theme2-1;
          position: absolute;
          top: 30px;
          right: 0;
        }
        img {
          width: 60px;
        }
      }
      &.active {
        opacity: 1;
        transform: translateX(0px);
        display: flex;
        z-index: 10;
      }
      .photoshop {
        width: 60px;
      }
      .figma {
        width: 38px !important;
        transform: translateX(15px);
      }
      .adobeXD {
        transform: translateX(2px);
      }
      > li:first-child {
        &::after {
          content: "";
          display: block;
          width: 178px;
          height: 6px;
          background: $theme2-1;
          position: absolute;
          top: 30px;
          right: 0;
        }
      }
    }
    .dev_lang_lists {
      width: $contentBox;
      justify-content: space-between;
      position: absolute;
      transition: all 0.3s ease-in-out;
      display: flex;
      opacity: 1;
      transform: translateX(0px);
      &.active {
        opacity: 0;
        transform: translateX(-20px);
      }
      .nodejs {
        width: 55px !important;
        transform: translateX(5px);
      }
      .reactjs {
        width: 68px !important;
      }
      > li {
        width: 260px;
        align-items: center;
        position: relative;
        &::before {
          content: "";
          display: block;
          width: 24px;
          height: 6px;
          background: $theme2-1;
          position: absolute;
          top: 30px;
          left: -42px;
        }
        &::after {
          content: "";
          display: block;
          width: 136px;
          height: 6px;
          background: $theme2-1;
          position: absolute;
          top: 30px;
          right: 0;
        }
        img {
          width: 100px;
        }
        h3 {
          font-size: 30px;
          margin: 17px 0 14px;
        }
        .list_description {
          height: 250px;
          display: flex;
          flex-direction: column;
          gap: 8px 0;
          li {
            position: relative;
            font-size: 18px;
            width: 217px;
            &::before {
              content: url("../img/triangle.svg");
              transform: rotate(180deg);
              filter: $white;
              width: 13px;
              position: absolute;
              top: 2px;
              left: -20px;
            }
          }
        }
      }
      > li:not(:first-child) {
        &::after {
          content: "";
          display: block;
          width: 178px;
          height: 6px;
          background: $theme2-1;
          position: absolute;
          top: 30px;
          right: 0;
        }
        img {
          width: 60px;
        }
      }
    }
  }
  .con3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: $contentBox;
    height: 100vh;
    .con3_heading {
      font-size: 60px;
      font-weight: 900;
      line-height: 50px;
      display: flex;
      margin-bottom: 150px;
      .upperline {
        display: block;
        width: 13.5px;
        height: 3px;
        background: white;
        transform: translateY(10px);
      }
      .colored_heading {
        font-size: 40px;
        vertical-align: top;
        /* color: $theme5-2; */
      }
    }
    .con3_lists {
      height: 500px;
      opacity: 1;
      transform: translateX(-20px);
      width: $contentBox;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      gap: 0 150px;
      transition: all 0.3s ease-in-out;
      &.active {
        opacity: 1;
        transform: translateX(0px);
        display: flex;
        z-index: 10;
      }
      > li {
        width: 380px;
        align-items: center;
        position: relative;
        &::before {
          content: "";
          display: block;
          width: 35px;
          height: 6px;
          background: $theme2-3;
          position: absolute;
          top: 80px;
          left: -25px;
        }
        &::after {
          content: "";
          display: block;
          width: 250px;
          height: 6px;
          background: $theme2-3;
          position: absolute;
          top: 80px;
          right: -25px;
        }
        h3 {
          font-size: 40px;
          margin-bottom: 0px;
          letter-spacing: 1px;
        }
        .date {
          font-size: 16px;
        }
        h4 {
          font-weight: normal;
          font-size: 22px;
          letter-spacing: 0.5px;
          margin: 14px 0 12px;
        }
        img {
          width: 150px;
          filter: $white;
        }
        .con3_description {
          font-size: 17px;
          font-weight: 300;
          position: relative;
          &::before {
            content: url("../img/triangle.svg");
            transform: rotate(180deg);
            filter: $white;
            width: 12px;
            position: absolute;
            top: 2px;
            left: -20px;
          }
        }
        .stack {
          font-size: 18px;
          font-weight: bolder;
          margin: 30px 0 15px;
        }
        ul {
          li {
            display: inline;
            font-size: 17px;
            font-weight: 100;
            padding: 3px 8px;
            border: 2px solid $theme1-1;
            border-radius: 10px;
          }
        }
        &:not(:first-child) {
          .img_wrap {
            width: 165px;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          img {
            width: 80px;
          }
          h2 {
            font-size: 50px;
            text-align: center;
            margin: 60px 0 0 0;
          }
        }
      }
    }
  }
  .con4 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: $contentBox;
    .con4_heading {
      font-size: 60px;
      font-weight: 900;
      line-height: 50px;
      display: flex;
      margin-bottom: 150px;
      .upperline {
        display: block;
        width: 13.5px;
        height: 3px;
        background: white;
        transform: translateY(10px);
      }
      .colored_heading {
        font-size: 40px;
        vertical-align: top;
        /* color: $theme5-2; */
      }
    }
    .con4_lists {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 45px 0;
      li {
        width: calc(90% / 4);
        border-radius: 3px;
        background: #eee;
        color: #222;
        .thumbnail {
          height: 150px;
          background: #00abe4;
          border-radius: 3px 3px 0 0;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 40px;
        }
        .lists_texts {
          padding: 30px;
          h3 {
            font-size: 25px;
            margin-bottom: 20px;
          }
          p {
            font-size: 18px;
          }
        }
      }
    }
    button {
      margin: 50px auto 0;
      width: 220px;
      padding: 14px 0;
      border-radius: 50px;
      background: #c9a9a9;
      color: white;
      font-size: 25px;
      font-weight: bolder;
      border: none;
      cursor: pointer;
    }
  }
  footer {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    div {
      font-size: 25px;
      font-weight: 300;
      margin-bottom: 10px;
      letter-spacing: 1px;
    }
    p {
      font-size: 16px;
      font-weight: 300;
    }
  }
}
